/***************
RESET
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
COLOR
***************/
main {
    background-color: beige;
}
.img-container {
    background-color: brown;
}
.fa-solid {
    background-color: grey;
    color: white;
}
/***************
GENERAL
***************/
header {
    height: 50px;
}
main .container {
    width: 80%;
    height: calc(100vh - 50px);
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-container {
    width: 80%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box-img {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
}
img {
    object-fit: cover;
    display: none;
}
.active {
    display: block;
}
.button-right {    
    position: absolute;
    right: 3%;
    top: calc(50% - (25px / 2));
}
.button-left {    
    position: absolute;
    left: 3%;
    top: calc(50% - (25px / 2));
}
.fa-solid {
    font-size: 1.5rem;
}